<% content_for :meta_title, meta_title %>
<% content_for :meta_description, meta_description %>
<% content_for :meta_image, image_path(meta_image) %>

<div id="home">

<div class="new-container">
  <h1 id="home-title">The Comic Strip Generator</h1>
  <div id="home-presentation">
    <p>This is the beginning of a comic strip generator, click on each panel of the strip to replace it. The first strips are extracts from some american comics in the public domain. You can add a strip of your own or in the public domain to increase the generator's possibilities.</p>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add a Strip</button>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h1 class="modal-title text-center" id="myModalLabel">Add a Strip</h1>
        </div>
        <div class="modal-body">
          <% strip = Strip.new %>
          <%= simple_form_for (strip) do |f| %>
            <%= f.input :title, placeholder: "Strip Title", label: false %>
            <%= f.input :author, placeholder: "Strip Author", label: false %>
            <%= f.input :year, placeholder: "Strip Creation Year", label: false, class: "year-input" %>
            <%= f.input :start_img, label: "Strip First Panel (square preferably)", type:"file", style: "text-align: left" %>
            <%= f.input :middle_img, label: "Strip Second Panel (square preferably)", type: "file" %>
            <%= f.input :end_img, label: "Strip Last Panel (square preferably)", type: "file" %>
            <%= f.submit "Add the Strip", class: 'btn btn-info', style: "width: 100%" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="home-content">
    <div class="strip-img">
      <% strip = @strips.sample %>
      <% start_url = strip.start_img %>
      <div class="strip-start" style='background-image: url(<%= cl_image_path "#{start_url}" %>)'>
        <div class="strip-description">
          <p><%= strip.author %>, <em><%= strip.title %></em>, <%= strip.year %></p>
        </div>
      </div>
    </div>
    <div class="strip-img">
      <% strip = @strips.sample %>
      <% middle_url = strip.middle_img %>
      <div class="strip-middle" style='background-image: url(<%= cl_image_path "#{middle_url}" %>)'>
        <div class="strip-description">
          <p><%= strip.author %>, <em><%= strip.title %></em>, <%= strip.year %></p>
        </div>
      </div>
    </div>
    <div class="strip-img">
      <% strip = @strips.sample %>
      <% end_url = strip.end_img %>
      <div class="strip-end" style='background-image: url(<%= cl_image_path "#{end_url}" %>)'>
        <div class="strip-description">
          <p><%= strip.author %>, <em><%= strip.title %></em>, <%= strip.year %></p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
